@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;500;700&display=swap');

$color-red:hsla(0, 78.72%, 63.14%, 1.00);
$color-black:#222;
$color-blue: #51CFED;
$color-dark-blue: #1976d2;
$color-green: #20c788;
$color-white: #f9f9f9;
$color-gray: #eeeeee;
$color-dorado: #FFD700;

$font-size-titles:62px;
$font-size-big: 40px;
$font-size-medium: 18px;
$font-size-small: 16px;
$font-size-smaller: 14px;

$line-heigth-titles: 65px;
$line-heigth-regular-text: 25px;

$border-radius-button: 5px;