@import '../../styles/abstract/variables.scss';

.container-header{
    background-color: $color-red;

    .container-header__logo-container{
        display: flex;
        align-items: center;

        h2{
            font-size: $font-size-medium;
            color: $color-white;
            margin-left: 10px;
        }
    }

    .container-header__menu-options{
        display: none;
        ul{
            display: flex;
        }
        li{
            list-style: none;
        }

        .container-header__option{
            font-family: inherit;
            color: $color-white;
            font-size: $font-size-smaller;
            margin: 0px 3px;

            &:hover{
                background-color: $color-gray;
                color: $color-black;
            }
        }

        @media (min-width: 768px) {
            display: initial;
        }

        @media (min-width: 1440px) {
            .container-header__option{
                margin: 0px 15px;
            }
        }
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 80px;
    padding: 1rem 2rem;
    position: relative;
  
    @media (min-width: 1020px) {
      padding: 1rem 4rem;
    }
  }
  
  .logo {
    width: 40px;
    height: fit-content;
    filter: invert(1);
    cursor: pointer;

  }
  
  .containerIcons {
    display: flex;
    gap: 1rem;
  }
  
  .menu {
    cursor: pointer;
    font-size: 15px;
    color: $color-white;
  }
  
  .menu-dropdown {
    display: flex;
    flex-direction: column;
    font-family: inherit;
    font-size: 14px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    // border-radius: 10px;
    padding: 0 0.5rem;
    width: 50vw;
    height: 100vh;
    transition: all 0.5s ease-in-out;
    z-index: 1;
    gap: 1rem;
  
    @media (min-width: 1440px) {
      width: 30%;
    }
  
    .close {
      align-self: flex-end;
      padding: 1rem;
      cursor: pointer;
    }
  
    a {
      color: #222222;
      text-decoration: none;

      &:hover{
        color: $color-red;
      }
    }
  
    &--closed {
      right: -1000px;
      transition: all 0.35s ease-in-out;
    }
  
    .container-header__information{
      display: flex;
      align-items: center;
      justify-content: space-between;
      .container-header__user-image{
        display: flex;
        width: 50px;
        height: 50px;
        margin-right: 0.5rem;
        
        img{
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }
      }
  
      .container-header__user-info{
        display: flex;
        align-items: center;
      }
      .container-header__user-data{
        p:nth-child(2){
          font-size: 13px;
          line-height: 0.5rem;
        }
      }
    }
  }